/*Styling for navbar*/
nav {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(40px);
    height: 100px;
}

/*Styling for navbar container*/
.navbar-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    user-select:none;
    margin-top: -10px;
}

/*Styling for logo*/
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*Styling for logo image*/
.logo img {
    height: 120px;
    width: 200px;
    vertical-align: middle;
    cursor: pointer;
}

/*Styling for nav links*/
.menu {
    display: flex;
    gap: 25px;
}

/*Styling for nav links*/
.menu a {
    color: white;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    transition: all 0.1s ease;
    display: block;
}

/*Styling for nav links when hovered over*/
.menu a:hover {
    background-color: #191970;
    border-radius: 4px;
}

/*Styling for hamburger menu*/
.menu-toggle {
    display: none;
    font-size: 70px;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
}

/*Styling for hamburger menu when hovered over*/
.menu-toggle:hover {
    background-color: DarkBlue;
}

/*Styling for nav links in hamburger menu*/
.menu-toggle.active {
    background-color: DarkBlue;
    position: relative;
    color: transparent;
}

/*Styling for X part of hamburger menu*/
.menu-toggle.active::before {
    content: "x";
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

/*Styling for search bar*/
form{
    background: #fff;
    width:600px;
    height:45px;
    display: flex;
    margin-left: 30px;
    border-radius: 8px;
    object-fit: cover;
}

/*Styling for search bar input*/
form input{
    flex: 1;
    border: none;
    outline: none;
}

/*Styling for search bar button*/
form button{
    background: slategrey;
    padding: 10px 55px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    object-fit: cover;
}

/*Styling for search bar symbol*/
form .fa-magnifying-glass{
    align-self:center;
    padding: 10px 20px;
    color:#777;
}

/*Styling for navbar container when then screen is shrunk a certain amount*/
@media (max-width:900px) {
/*Styling for navbar container when screen is shrunk certain amount*/
 .navbar-container {
    height: 50px;
    padding: 1rem 0;
    backdrop-filter: blur(40px);
    display: flex;
    }

    /*Styling for container when screen is shrunk certain amount*/
    .container{
    margin-left: 70px;
    margin-top: 10px;
    display:none;
    }

    /*Styling for logo when screen is shrunk certain amount*/
    .logo{
    margin-top: 31px;
    margin-left: 60px;
    }

    /*Styling for menu toggle when screen is shrunk certain amount*/
    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    /*Styling for nav links when screen is shrunk*/
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        background-color: #191970;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0,0,0,0,8);
        z-index: 1000;
    }

    /*Styling for nav links when screen is shrunk*/
    .menu.active {
        display: flex;
    }

    /*Styling for nav links when screen is shrunk*/
    .menu a {
        padding: 0.8rem 1.5rem;
        border-radius: 0;
        text-align: center;
        color:white;
    }

    /*Styling for nav link list when screen is shrunk*/
    .menu li:last-child a {
        border-bottom: none;
    }

    /*Styling for nav links when hovered over when screen is shrunk*/
    .menu a:hover {
         background: #6495ED;
         color: white;
    }

    /*Styling for search bar when screen is shrunk*/
    form {
        display: none;
    }
}

@media (max-width: 1400px) {
    .container {
        all: unset;
        display:none;
    }
}