body{
    background-image: url("../Image gallery/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, sans-serif;
    margin: 0;
}

.textbox{
    max-width:800px;
    min-height: 400px;
    margin: 20px auto;
    padding: 40px 50px;
    background: rgba(33, 70, 120, 1);
    text-align: center;
    justify-content: center;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: normal;
}

.textbox h1 {
    font-size 5rem;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.intro {
    font-size: 1rem;
    line-height: 1.8;
    color:white;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background:rgba(255,255,255,0.1);
    border-radius: 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    text-align: left;
}

h1{
    text-align: center;
    font-size:50px;
}

.video{
    text-align: center;
    margin: 20px auto;
    padding: 40px 50px;

}

form{
    background: #fff;
    width:600px;
    height:45px;
    display: flex;
    margin-left: 70px;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
    background: navy;
    padding: 10px 55px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
form .fa-magnifying-glass{
    align-self:center;
    padding: 10px 20px;
    color:#777;
}

.container{
    margin-left: 70px;
    margin-top: 10px;
}

.navbar-container {
    height: 70px;
    padding: 1rem 0;
    backdrop-filter: blur(40px);
    display: flex;
}

.logo{
    margin-top: -30px;
    margin-left: 10px;
    cursor: pointer;
}

.nav-links a {
    color:white;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-size: 20px;
    padding: 0px 10px;
    margin: 20px;
}

.nav-links a:hover {
    background-color: DarkBlue;
    border-radius: 5px;
}

.image-gallery {
    display:flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    border 2px dashed gray;
    padding: 20px;
}

.image-gallery img {
    border-radius: 8px;
}